{% extends 'main2.html' %}
{% block content %}
<style>
  table, th, td {
    border:1px solid black;
    padding: 5px 15px;
  }
          .container{
              background-color:white;
              padding: 25px;
              }
          .block{
              color:blue;
              }
          .head{
              font-size:50px;
              color:#03fcdb;
              text-align:center;
              }
          body {
    background-image: url('https://st2.depositphotos.com/4329009/8231/v/600/depositphotos_82313760-stock-illustration-abstract-creative-concept-vector-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
          }
  </style>

  <div class="container">
<h2>Vascular prediction</h2>

<table style="width:100%">
  <tr>
    <th>Cause</th>
    <th>Suggestion</th>
    <th>Diet plan</th>
  </tr>
  <tr>
    <td><p> -- > Common cold : Respiratory infections are among the most common causes of fever.
                These infections are usually caused by viruses and can cause fever along with other symptoms such as cough, sore throat, and body aches.<br>
            -- > Ear infections: Infections of the middle ear, such as otitis media, can cause fever along with symptoms such as ear pain, ear discharge, and difficulty hearing.<br>
            -- > Dehydration: Dehydration can cause a mild fever, especially in young children, as the body tries to conserve water.</p></td>
    <td><p> -- > Rest and hydration,Cool compresses or baths with lukewarm water can help reduce fever and make you feel more comfortable. <br>
    -- > If the fever is caused by an infection, treating the infection with antibiotics medications may be necessary.<br></p>
     <td><p>
      -- > Eat a well-balanced diet with plenty of fruits, vegetables, whole grains, and lean protein. Avoid processed foods and foods high in saturated and trans fats. <br> -- > Eat a healthy, balanced diet with plenty of fruits, vegetables, and whole grains. Avoid foods that trigger asthma symptoms, such as sulfites, preservatives, and food coloring. <br> -- > Eat a healthy, balanced diet with plenty of fruits, vegetables, and whole grains. Limit red and processed meats, and avoid foods high in saturated and trans fats.
        </p></td>
  </tr>
<!--  <tr>-->
<!--    <td>16</td>-->
<!--    <td>14</td>-->
<!--    <td>10</td>-->
<!--  </tr>-->
</table>
</div>
{% endblock %}

