{% extends 'main2.html' %}
{% block content %}
<style>
  table, th, td {
    border:1px solid black;
    padding: 5px 15px;
  }
          .container{
              background-color:white;
              padding: 25px;
              }
          .block{
              color:blue;
              }
          .head{
              font-size:50px;
              color:#03fcdb;
              text-align:center;
              }
          body {
    background-image: url('https://st2.depositphotos.com/4329009/8231/v/600/depositphotos_82313760-stock-illustration-abstract-creative-concept-vector-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
          }
  </style>

  <div class="container">
<h2>Healthy  Suggestion</h2>

<table style="width:100%">
  <tr>
    <th>Cause</th>
    <th>Suggestion</th>
    <th>Diet plan</th>
  </tr>
  <tr>
    <td><p>-- >Heart-related issues such as a heart attack, angina, or pericarditis.<br>
      
      -- >Respiratory issues such as pneumonia, pleurisy, or pulmonary embolism.<br>
      
      -- >Anxiety or panic attacks.</p>
        </td>--
    <td><p> -- > Rest and relaxation. <br> -- > Making lifestyle changes such as quitting smoking, losing weight, and managing stress can help reduce the risk of chest pain.<br></p></td>
    <td><p>
      -- > Eat fresh fruits and vegetables, limit processed foods and canned foods, avoid adding salt to your meals.<br>-- > Incorporate physical activity into your daily routine, such as walking, cycling, or swimming.
         </p></td>
  </tr>
<!--  <tr>-->
<!--    <td>16</td>-->
<!--    <td>14</td>-->
<!--    <td>10</td>-->
<!--  </tr>-->
</table>

<!--<p>To undestand the example better, we have added borders to the table.</p>-->
  </div>
  {% endblock %}

