{% extends 'predict.html' %}
{% block content %}

<style>
  table, th, td {
    border:1px solid black;
    padding: 5px 15px;
  }
          .container{
              background-color:white;
              padding: 25px;
              }
          .block{
              color:blue;
              }
          .head{
              font-size:50px;
              color:#03fcdb;
              text-align:center;
              }
          body {
    background-image: url('https://st2.depositphotos.com/4329009/8231/v/600/depositphotos_82313760-stock-illustration-abstract-creative-concept-vector-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
          }
  </style>
<!-- <body> -->
  <div class="container">
<h2>Health Monitoring </h2>

<table class="table">
  <tr>
    <th>Suggestion</th>
    <th>Diet plan</th>
  </tr>
  <tr>
    <td><p> -- > Seek immediate medical attention. Call emergency services or go to the nearest hospital.</p></td>
             <td><p>-- > Reduce intake of saturated and trans fats, increase intake of fiber, fruits, and vegetables <br> -- > Avoid excessive alcohol and caffeine, reduce stress, maintain a healthy weight <br></p>
  </tr>
<!--  <tr>-->
<!--    <td>16</td>-->
<!--    <td>14</td>-->
<!--    <td>10</td>-->
<!--  </tr>-->
</table>

<!--<p>To undestand the example better, we have added borders to the table.</p>-->
</div>
{% endblock %}

