{% extends 'main2.html' %}
{% block content %}

<style>
table, th, td {
  border:1px solid black;
  padding: 5px 15px;
}
        .container{
            background-color:white;
            padding: 25px;
            }
        .block{
            color:blue;
            }
        .head{
            font-size:50px;
            color:#03fcdb;
            text-align:center;
            }
        body {
  background-image: url('https://st2.depositphotos.com/4329009/8231/v/600/depositphotos_82313760-stock-illustration-abstract-creative-concept-vector-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
        }
</style>

  <div class="container">

<h2>Health Monitor</h2>

<table style="width:100%">
  <tr>
    <th>Cause</th>
    <th>Suggestion</th>
    <th>Diet plan</th>
  </tr>
  <tr>
    <td><p>It is performing at 60 percent or better.</p>
        <p>-- >High blood pressure: Uncontrolled high blood pressure can cause damage to the arteries, making them more vulnerable to plaque buildup and narrowing. <br>

          -- > High cholesterol levels: High levels of LDL (bad) cholesterol in the blood can contribute to the formation of plaque in the arteries, leading to atherosclerosis and an increased risk of  Diagnosis.<br>
          
          -- >Smoking: Smoking damages the lining of the arteries, leading to plaque buildup and narrowing of the arteries.</p></td>
    <td><p>-- > Limit sodium intake to less than 2,300 milligrams per day. <br> -- > Aim for at least 30 minutes of moderate-intensity exercise most days of the week.<br> -- > Practice stress-reducing techniques such as meditation, deep breathing, or yoga.</p></td>
    <td><p>
      -- > Avoid processed foods, canned soups, and salty snacks. Use herbs and spices instead of salt to flavor food. <br> -- > Incorporate brisk walking, cycling, or swimming into your routine. Consult a doctor before starting a new exercise program.
<br> -- >  Seek support from a healthcare professional or a support group. Avoid triggers and distractions.
<br> -- >  Limit saturated and trans fats, red meat, processed meats, and sugary foods and drinks. Choose foods high in fiber and omega-3 fatty acids.
         </p></td>
  </tr>
<!--  <tr>-->
<!--    <td>16</td>-->
<!--    <td>14</td>-->
<!--    <td>10</td>-->
<!--  </tr>-->
</table>

{% endblock %}